body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:  	#e0ebeb;
}

.text-muted {
  color:  #a7998b;
}

.navbar-inverse {
  background-image: none;
  background-color: #fcfcfc;
}

.navbar-inverse .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #f83020;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #f83020;
}

#logo {
  color: #f83020;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 10px;
  font-size: 1.5em;
  line-height: 20px;
  font-weight: 550;
}

#first-name {
  letter-spacing: 8.5px;
}

#middle-name {
  letter-spacing: 1px;
}

#last-name {
  letter-spacing: -.5px;
}

p {
  font-size: 1.25em;
  line-height: 1.75;
}

.copy {
  font-size: 1.25em;
  line-height: 1.75;
  text-align: justify;
  color:  #004466;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #f83020;
  text-decoration: none;
}

section {
  padding: 5%;
}

section h2.section-heading {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
  color: black;
}

h3.section-subheading {
  font-size: 2em;
  text-transform: none;
  margin-bottom: 5%;
}

.btn {
  background-color: #000;
  margin-bottom: 20px;
  color: #fff;
}

.portfolio-modal .btn {
  background-color: #000;
  margin-bottom: 20px;
  color: #fff;
}


}
.btn:hover {}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #f83020;
}

#about img {
  width: 10%;
  box-shadow: 1px 1px 10px #92b9b9;
}

.img-circle {
  padding: .25em;
  box-shadow: 1px 1px 10px #92b9b9;
  margin-top: 1em;
  margin-bottom: 1em;
}

.project i {
  color: #fff;
  font-size: 12em;
}

#collection .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  border-radius: 5px;
  /*background-color: #f83020;*/
  text-align: center;
  /*box-shadow: 1px 1px 5px #92b9b9;*/
}

.portfolio-link h3{
  color: #fff;
  font-size: 1.75em;
  padding-top: 2em;
  padding-bottom: .25em;
}

.portfolio-link h3:hover {
  color: #fb8b83;
}

.background:hover {
  opacity: 0.65;
}

@media screen and (min-width:768px) {
  #myNavbar {
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px #92b9b9;
  }

  #myNavbar .nav {
    font-size: 1.5em;
    position: absolute;
    bottom: 25%;
    right: 7%;
    margin-bottom: -15px;
    background-color: #fcfcfc;
  }
}

@media (max-width: 768px) {

  #myNavbar {
    background-color: #fcfcfc;
  }

}
#collection {
  margin: 0 auto;
}
#collection .container {
  background-color:  #eff5f5;
  border-radius: 5px;
  padding: 5%;
  margin-top: 5%;
  box-shadow: 10px 10px 5px  #92b9b9;
}

.modal-body a:hover {
  color: #f83020;
}

.modal-body a{
  color: #337ab7;;
}

.modal-body img{

  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
}

#collection .portfolio-item .portfolio-caption:last-child {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
#collection * {
  z-index: 2;
}
.btn-primary {
  color: white;
  background-color:#f83020 ;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
}
.btn-primary:hover {
  color: white;
  background-color: #f83020;
  border-color: #f83020;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.portfolio-modal .item {
  padding-bottom: 5%;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */

  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */

  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */

  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */

  z-index: 1052;
}
.footer {
  min-height: 100px;
  background-color: #fff;
  padding: 1%;
  padding-top: 4%;
}
#about {
  padding-bottom: 5%;
}

@media (max-width: 768px) {

#collection {
  margin-top: 20%;
}

#myNavbar {
    background-image: none;
    background-color: #fcfcfc;
  }

#about {
    padding-bottom: 10%;
  }
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.fa-3x {
  padding: 1em;
  color: #006699;
}

.fa-3x:hover {
  color: #f83020;
}

#collection .portfolio-item .portfolio-link{
    display: block;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }




#collection .portfolio-item .portfolio-link .portfolio-hover{
    background: #255f7c;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#collection .portfolio-item .portfolio-link .portfolio-hover:hover{
    opacity:.75;
}

#collection .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  color: white;
}

#collection .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -20px;
}

#collection .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#collection .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#collection .portfolio-item .portfolio-caption {
  color: #000;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 4%;
}



#collection .portfolio-item .portfolio-caption:last-child {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  text-align: center;

}

#collection * {
  z-index: 2;
}
